body {
  background-color: #30475E;
}
h1 {
color: white;
/* text-align: center; */
display: inline-block;
}
h3{
color: white;
}
p {
color: white;
font-family: verdana;
font-size: 20px;
}
ol{
color: white;
}
table{
  color: white;
}
a{
  color: white;
}
h2{
  color: white;
}
table{
  width: 100%;
}
/*Classes*/
.center {
/* display: block; */
width: 25%;
float: left;
}
/*Ids*/
#trying {
  font-style: italic;
}
#small{
  width: 40%;
}
